<div><%= @user.username %>'s profile</div>

<div>About me: <%= @user.about_me %></div>

<% unless @projects.empty? %>
  <ol>
  <% @projects.each do |project| %>
    <li><%= project.name %></li>
  <% end %>
  </ol>
<% end %>

<% unless @skills.empty? %>
  <ol>
    <% @skills.each do |skill| %>
      <li><%= skill.name %></li>
    <% end %>
  </ol>
<% end %>

<% unless @interests.empty? %>
  <ol>
    <% @interests.each do |interest| %>
      <li><%= interest.name %></li>
    <% end %>
  </ol>
<% end %>
