<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Endeavor</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <%- if current_user -%>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "My Profile",user_path(current_user) %></li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </section>
</nav>


<body class="user-page-body">

  <div class="row">
    <div class="small-12 columns profile-header">
      <% if @user.id == current_user.id %>
        <h1>My profile</h1>
      <% else %>
        <h1><%= @user.username %>'s profile</h1>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns skills-section">
      <h3>Skills</h3>
      <% if @skills.empty? %>
        <p><%= @user.username %> has not listed any skills yet</p>
      <% else %>
        <ul>
          <% @skills.each do |skill| %>
            <li><%= skill.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="small-6 columns">
      <div class="row">
        <div class="small-12 columns about-me-section">
          <h6>About me: <%= @user.about_me %></h6>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns project-proposals-section">
          <h3>Projects proposed</h3>
          <% if @projects.empty? %>
            <p><%= @user.username %> has not created any projects yet</p>
          <% else %>
            <ul>
              <% @projects.each do |project| %>
                <li><%= link_to(project.name, project_path(project)) %></li>
              <% end %>
            </ul>
          <% end %>

          <% if @user.id == current_user.id %>
            <%= link_to("Propose a new project!", new_project_path, class: "button small round new-project") %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns recommended_projects-section">
          <% if @user.id == current_user.id %>
            <% if @recommended_projects.any? %>
              <h3>Project Recommendations</h3>
              <ul id="recommended-projects-list">
                <% @recommended_projects.each do |project| %>
                  <li><a href="/projects/<%= project.id %>" data-dropdown="project-hover-<%= project.id %>" data-options="is_hover:true; hover_timeout:0"><%= project.name %></a>
                    <ul id="project-hover-<%= project.id %>" class="f-dropdown" data-dropdown-content>
                      <h6>You match on:</h6>
                      <% project.users_matches(@user).each do |match| %>
                        <li><%= match.keys.first %>: <%= match.values.first %></li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <h6>You have no recommended projects at this time</h6>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="small-3 columns interests-section">
      <h3>Interests</h3>
      <% if @interests.empty? %>
        <p><%= @user.username %> has not listed any interests yet</p>
      <% else %>
        <ul>
          <% @interests.each do |interest| %>
            <li><%= interest.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% unless @user.id == current_user.id %>
      <div class="row">
        <div class="small-12 columns contact">
          <img src="<%= asset_path('contact-icon.png') %>">
          <%= mail_to(@user.email, "contact #{@user.username}") %>
        </div>
      </div>
    <% end %>

    <% if @user.id == current_user.id %>
      <div class="row">
        <div class="small-12 columns profile-actions">
            <%= link_to("Edit My Profile", edit_user_registration_path, class: "button small round edit-profile") %>
            <%= link_to("Delete My Profile", project_path(@user), method: :delete, class: "button small round delete-profile") %>
        </div>
      </div>
    <% end %>
  </div>
</body>
