<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" id="nav-bar-name">Endeavor</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <%- if current_user -%>
        <li><%= link_to("Recommended Projects", recommended_projects_path) %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "My Profile",user_path(current_user) %></li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-10 small-centered columns">
    <h1>Edit Project</h1>

    <% if @project.errors.any? %>
      <ul>
        <% @project.errors.full_messages.each do |er| %>
          <li> <%= er %> </li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for @project do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :proposal %>
      <%= f.text_field :proposal %>

      <%= f.label :skill_list, "Useful skills for this project" %>
      <%= f.text_field :skill_list, placeholder: "comma seperated", "data-pre" => @project.skills.map(&:attributes).to_json %>

      <%= f.label :interest_list, "Interests relevant to this project" %>
      <%= f.text_field :interest_list, placeholder: "comma seperated", "data-pre" => @project.interests.map(&:attributes).to_json %>

      <%= f.submit "Update Project", class: "button tiny success" %>
    <% end %>

    <%= link_to("back to project", project_path(@project)) %>
  </div>
</div>
