<h1>Edit Project</h1>

<% if @project.errors.any? %>
  <ul>
    <% @project.errors.full_messages.each do |er| %>
      <li> <%= er %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @project do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :proposal %>
  <%= f.text_field :proposal %>

  <%= f.label :skill_list, "Useful skills for this project" %>
  <%= f.text_field :skill_list, placeholder: "comma seperated" %>

  <%= f.label :interest_list, "Interests relevant to this project" %>
  <%= f.text_field :interest_list, placeholder: "comma seperated" %>

  <%= f.submit "Update Project", class: "button tiny success" %>
<% end %>

<%= link_to("back to project", project_path(@project)) %>
