<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Endeavor</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <%- if current_user -%>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "My Profile",user_path(current_user) %></li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </section>
</nav>

<body class="project-page-body">
  <div class="row">
    <div class="small-5 columns">


    </div>

    <div class="small-5 columns">


    </div>

  <div class="row">
    <div class="small-10 columns">

    </div>
  </div>

  <div class="row">
    <div class="small-10 columns">

    </div>
  </div>

  <div class="row">
    <div class="small-10 columns">

    </div>
  </div>

</body>

<h1><%= @project.name %></h1>

<h3>Proposal</h3>
<p><%= @project.proposal %></p>

<h3>Project skills</h3>
<% if @skills.empty? %>
  <p><%= @project.name %> does not have any skills yet</p>
<% else %>
  <ul>
    <% @skills.each do |skill| %>
      <li><%= skill.name %></li>
    <% end %>
  </ul>
<% end %>

<h3>Project interests</h3>
<% if @interests.empty? %>
  <p><%= @project.name %> does not have any skills yet</p>
<% else %>
  <ul>
    <% @interests.each do |interest| %>
      <li><%= interest.name %></li>
    <% end %>
  </ul>
<% end %>
<% if current_user.id == @project.user.id %>
  <% if @recommended_users.any? %>
    <h3>Recommended users for this project</h3>

    <% @recommended_users.each do |user| %>
      <%= link_to(user.username, user_path(user)) %>
    <% end %>
  <% else %>
    <h3>There are no recommended users for this project at this time</h3>
  <% end %>
<% end %>

<% if @project.user_id == current_user.id %>
  <%= link_to("Edit Project", edit_project_path(@project)) %>
<% end %>

<% if @project.user_id == current_user.id %>
  <%= link_to("Delete Project", project_path(@project), method: :delete) %>
<% end %>
